<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .search-bar{
        max-width: 500px;
        width: 100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <div class="search-bar mt-sm-2 mr-2">
        <method="get">
            <input type="text" class="form-control" name="q" id="id_q" placeholder="Search... ">
    </div>
</head>
<body>
{% for course in courses %}
    {% include 'courses/course_row.html' %}
{% endfor %}
{% for skill in skills %}
    {% include 'skills/skill_row.html' %}
{% endfor %}

{{ skills }}
</body>
<script type="text/javascript">
    document.getElementById("id_q").value = "{{query}}"
</script>
</html>