<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}LearnHub{% endblock %}</title>
  <img src="https://gitlab.com/sofi_hackaton2021/sofidemoproject/-/raw/dev/static/learnhub.jpg" alt="learn_hub">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>