<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .search-bar{
        max-width: 500px;
        width: 100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <div class="search-bar mt-sm-2 mr-2">
        <method="get">
            <input type="text" class="form-control" name="q" id="id_q" placeholder="Search... ">
        </form>
    </div>
</head>
<body>
{% block content %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Skills
                    <small>The following are the available</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% if skills.object_list.count == 0 %}
        <div class="jumbotron">
            <h1>Skills Unavailable</h1>
            <p>Please check back at a later time when the course become available.</p>
        </div>
        {% else %}
        <!-- Course Rows -->
            {% for skill in skills %}
                {% include 'skills/skill_row.html' %}
            {% endfor %}
        <!-- /.Course Rows -->
        <!-- Pagination -->
        <div class="panel-body text-right">
            <div class="pagination">
                <span class="step-links">
                    <span class="current">
                        Page {{ skills.number }} of {{ skills.paginator.num_pages }}.
                    </span>

                    {% if skills.has_previous %}
                    <a href="?page={{ courses.previous_page_number }}"
                        type="button"
                        class="btn btn-lg btn-primary">Previous</a>
                    {% endif %}

                    {% if skills.has_next %}
                    <a href="?page={{ courses.next_page_number }}"
                        type="button"
                        class="btn btn-lg btn-primary">Next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!-- /.row -->

        {% endif %}
</div>
{% endblock content %}
</body>
<script type="text/javascript">
    document.getElementById("id_q").value = "{{query}}"
</script>
</html>