
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Course Info -->
                <div class="col-lg-9 text-left">
                    <h3>{{ skill.title }}<br/>
<!--                        {% if teacher == course.teacher %}-->
<!--                            <small>[You cannot enroll in a class you currently teach!]</small>-->
<!--                        {% else %}-->
<!--                            <small>{{ course.sub_title }}</small>-->
<!--                        {% endif %}-->
                    </h3>
                    {% for master in skill.skill_masters.all %}
                    <p>{{ master.username }} - {{ master.role }}</p>
                    {% endfor %}
<!--                    {% if course.is_official %}<p align="left"><span class="badge">Offical</span></p>{% endif %}-->
<!--                    <p>{{ course.description }}<p>-->
<!--                    <p>Duration: {{ course.start_date }} to {{ course.finish_date }}</p>-->
                </div>
                <!-- /.Course Info -->
            </div>
        </div>
    </div>
</div>